@model Tarea__2.Models.ArticuloVista

@{
    ViewData["Title"] = "Borrar";
}

<br />
<h4>Borrar</h4>
<br />

<h5>¿Seguro que desea eliminar el siguiente articulo?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaseArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaseArticulo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>

    <form asp-action="Borrar">
        <input type="hidden" asp-for="Codigo" />
        <input type="submit" value="Confirmar" class="btn btn-primary" />
    </form><br />
    <a asp-action="Index">  <input type="submit" value="Cancelar" class="btn btn-primary"> </a>
</div>