<!-- model IEnumerable Tarea__2.Models.ArticuloEntity-->
@model IEnumerable<Tarea__2.Models.ArticuloVista>

@{
    ViewData["Title"] = "Principal";
}
<br />
<div class="container" style="width:100%; margin-bottom:20%">

    <div style="width:40%; float:left">
        <div class="col-9">

            <label class="form-label" for="Nombre1">Nombre:</label>
            <input type="text" id="Nombre1" class="form-control" />

            <label class="form-label" for="Cantidad1">Cantidad:</label>
            <input type="text" id="Cantidad1" class="form-control" />

            <label class="form-label" for="TipoArticulo1">Tipo de articulo:</label>
            <select class="form-select" id="TipoArticulo1" name="Articulos">
            </select> 
        
        </div>
    </div>

	<div style="width:40%; float:left; margin-left:20px">


        <div style="margin-bottom:20%">
			<label class="form-label" style="margin-right:5%" >Filtros:</label>
			<input type="submit" value="Nombre" class="btn btn-primary" />
			<input type="submit" value="Cantidad" class="btn btn-primary" />
			<input type="submit" value="Tipo de Articulo" class="btn btn-primary" />
		</div>


        <div style="margin-top:20%">
            <div style="float:left; margin-right:5%"> <a asp-action="Insertar">  <input type="submit" value="Insertar" class="btn btn-primary" /> </a></div>

            <div style="float:left; margin-right:5%"><a asp-action="Modificar"> <input type="submit" value="Modificar" class="btn btn-primary" /> </a></div>

            <div style="float:left; margin-right:5%"><a asp-action="Borrar">     <input type="submit" value="Borrar" class="btn btn-primary" /> </a></div>
		
            <div style="float:left; margin-right:5%"><a asp-action="Salir">      <input type="submit" value="Salir" class="btn btn-primary" /> </a></div>
        </div>


	</div>

</div> 



<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ClaseArticulo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td> 
                
                <td>
                    @Html.DisplayFor(modelItem => item.ClaseArticulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td> 

            </tr>
        }
    </tbody>

</table>
